.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  animation-name: showContent;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes showContent {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.weather-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .weather-image {
    max-width: 375px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .weather-description {
    color: #5b97aa;
  }
}
hr {
  background-color: #5b97aa;
  border: 1px solid #5b97aa;
}
.weather-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.details {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .icon-placements {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .details-text {
    font-weight: 400;
    color: #5b97aa;
  }
  .show-hover {
    pointer-events: none;
    position: absolute;
    font-weight: 800;
    background-color: #5b97aa;
    border-radius: 25px;
    width: 120px;
    padding: 10px;
    color: #153945;
    opacity: 0;
    top: -50px;
    text-align: center;
    box-shadow: 0 3px 5px 1px #0f1c20;
    -webkit-transform: translateY(50px);
    -webkit-transition: 300ms ease-in-out;
  }

  &:hover .show-hover {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}
// For svgs
.image-svg {
  width: 35px;
  height: 35px;
}
.small-svg {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 50em) {
  .weather-image-container {
    .weather-image {
      max-width: 325px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .weather-description {
      font-size: 1.3rem;
    }
  }
  .details {
    .details-text {
      font-size: 0.9rem;
    }
    .show-hover {
      font-size: 0.8rem;
      background-color: #5b97aa;
      border-radius: 25px;
      width: 90px;
    }

    &:hover .show-hover {
      opacity: 1;
      -webkit-transform: translateY(0px);
    }
  }
  // For svgs
  .image-svg {
    width: 30px;
    height: 30px;
  }
  .small-svg {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 38.125em) {
  .weather-image-container {
    .weather-image {
      max-width: 300px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .weather-description {
      font-size: 1.3rem;
    }
  }
  .weather-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.6rem;
  }
  .details {
    .details-text {
      font-size: 0.85rem;
    }
    .show-hover {
      font-size: 0.75rem;
      background-color: #5b97aa;
      border-radius: 25px;
      width: 85px;
    }

    &:hover .show-hover {
      opacity: 1;
      font-weight: 400;
      -webkit-transform: translateY(0px);
    }
  }
  // For svgs
  .image-svg {
    width: 25px;
    height: 25px;
  }
  .small-svg {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 28.75em) {
  .weather-image-container {
    .weather-description {
      font-size: 1.1rem;
    }
  }
  .weather-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  // For svgs
  .image-svg {
    width: 25px;
    height: 25px;
  }
  .small-svg {
    width: 15px;
    height: 15px;
  }
}
