.header-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.header-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7;
  h1 {
    font-size: 4rem;
    font-weight: 400;
  }
  .sub-text {
    font-size: 1.45rem;
    font-weight: 300;
  }
}
.search-container {
  display: flex;
  flex-direction: column;
}
.input-form {
  width: 100%;
  display: flex;
  input {
    flex: 1;
    outline: none;
    border: none;
    padding: 0.8rem;
    font-family: "Signika Negative", sans-serif;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid #153945;
    background-color: #5b97aa;
    color: #153945;
    font-size: 1.1rem;
  }
  ::placeholder {
    color: #153945;
    opacity: 0.7;
  }
  button {
    cursor: pointer;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    font-family: "Signika Negative", sans-serif;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #153945;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    transition: opacity 250ms ease-in-out;
    img {
      width: 25px;
      height: 25px;
    }
    &:hover {
      opacity: 1;
    }
  }
}
.input-validation-text {
  opacity: 0;
  color: #5b97aa;
  padding-top: 0.2rem;
  padding-left: 0.8rem;
}

// input-validation-animations
.show-span {
  animation-name: showInputValid;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.remove-span {
  animation-name: removeInputValid;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showInputValid {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes removeInputValid {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@media only screen and (max-width: 50em) {
  .header-text-container {
    h1 {
      font-size: 3.5rem;
    }
    .sub-text {
      font-size: 1.25rem;
    }
  }
}

@media only screen and (max-width: 38.125em) {
  .header-text-container {
    h1 {
      font-size: 3.2rem;
    }
    .sub-text {
      font-size: 1.15rem;
    }
  }
  .input-form {
    width: 100%;
    display: flex;
    input {
      font-size: 0.9rem;
    }
    ::placeholder {
      color: #153945;
      opacity: 0.7;
    }
  }
  span {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 28.75em) {
  .header-text-container {
    h1 {
      font-size: 2.8rem;
    }
    .sub-text {
      font-size: 1.05rem;
    }
  }
  .input-form {
    width: 100%;
    display: flex;
    input {
      font-size: 0.8rem;
    }
    ::placeholder {
      color: #153945;
      opacity: 0.7;
    }
  }
  span {
    font-size: 0.7rem;
  }
}
