@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Signika+Negative:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #5b97aa;
  font-family: "Signika Negative", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 10px;
}
header {
  display: flex;
  justify-content: center;
  color: #153945;
}
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: #153945;
    align-self: center;
    text-decoration: none;
    width: fit-content;

    &:hover {
      .name {
        text-decoration: underline;
      }
      .github-logo {
        transform: rotate(360deg);
      }
    }
  }

  .credit {
    font-size: 1.2rem;
    width: auto;
    display: flex;
    gap: 0.2em;

    .github-logo {
      transition: 250ms ease-in-out;
    }
  }
}
